@import '/src/theme/variables';

.main-container {
    background-color: $gray-100; 
}

.inner-container {
    background-color: $light;
    border-radius: $border-radius-100;
    margin-bottom: $font-size-300;
}