<div *ngIf="item">
    <div class="d-flex flex-column flex-sm-row">
        <img src="{{item.picture}}" alt="{{item.title}}" width="680" height="680">
        <div class="item__container ms-4 ms-sm-0 mb-2 mb-sm-0">
            <div class="item__condition">{{item.condition}} - {{item.soldQuantity}} {{item.soldQuantity > 1 ? 'vendidos' : 'vendido'}}</div>
            <div class="item__title">{{item.title}}</div>
            <div class="item__price">$ {{item.price.amount | currency:'JPY':''}}</div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary item__button">Comprar</button>
            </div>
        </div>
    </div>
    <div class="item__description">
        <div class="item__description-title">Descripción del producto</div>
        <div class="item__description-content">{{item.description}}</div>
    </div>
</div>