@import '/src/theme/variables';

.search {
    &__container {
        background-color: $primary;
    }

    &__input {
        border: none;
        &:focus {
            color: $gray-400;
            box-shadow: none;
        }
    }

    &__button {
        border: none;
        color: $gray-400;
        background-color: $gray-100;
        &:focus {
            box-shadow: none;
        }
    }
}