<div class="search__container">
    <div class="row pt-3 pb-3">
        <div class="col-md-1 offset-md-1">
            <img src="/assets/Logo_ML.png" alt="Logo Mercado Libre">
        </div>
        <div class="col-md-9">
            <div class="input-group">
                <input type="text" [formControl]="inputSearch" class="form-control search__input" placeholder="Nunca dejes de buscar" aria-label="Cajon de busqueda" aria-describedby="search-button">
                <button id="search-button" class="btn search__button" [disabled]="!inputSearch.value" [routerLink]="['/items']" [queryParams]="{q: inputSearch.value}">
                    <img src="/assets/ic_Search.png" alt="Imagen del botón buscar">
                </button>
            </div>
        </div>
    </div>
</div>
