<div class="search-bar-container">
    <div class="row pt-3 pb-3">
        <div class="col-md-1 offset-md-1">
            <img src="/assets/Logo_ML.png" alt="Logo Mercado Libre">
        </div>
        <div class="col-md-9">
            <div class="input-group">
                <input type="text" [formControl]="inputSearch" class="form-control" placeholder="Nunca dejes de buscar" aria-label="Cajon de busqueda" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2" [routerLink]="['/items']" [queryParams]="{q: inputSearch.value}"><img src="/assets/ic_Search.png" alt=""></span>
            </div>
        </div>
    </div>
</div>
