$primary: #ffe600;
$secondary: #3483fa;
$light: #ffffff;

$gray-100: #eeeeee;
$gray-200: #999999;
$gray-300: #666666;
$gray-400: #333333;

$font-size-100: 12px;
$font-size-200: 14px;
$font-size-300: 16px;
$font-size-400: 18px;
$font-size-500: 24px;
$font-size-600: 28px;
$font-size-700: 46px;

$spacing-100: 16px;
$spacing-200: 32px;

$border-radius-100: 4px;

