<div *ngFor="let item of items; let last = last">
    <div class="row m-0">
        <div class="col-md-9 item__container" [routerLink]="['/items', item.id]">
            <div class="item__image">
                <img src="{{item.picture}}" alt="{{item.title}}" height="180px" width="180px">
            </div>
            <div>
                <div class="item__price">
                    $ {{item.price.amount | currency:'JPY':''}}.{{item.price.decimals}}
                    <img *ngIf="item.freeShipping" src="/assets/ic_shipping.png" alt="Imagen de envio gratis">
                </div>
                <div class="item__title">{{item.title}}</div>
            </div>
        </div>
        <div class="offset-md-1 col-md-2 p-0 mt-0 mt-sm-5 item__address ms-4 ms-sm-0 mb-2 mb-sm-0">{{item.address}}</div>
    </div>
    <hr *ngIf="!last" class="item__divider">
</div>