@import '/src/theme/variables';

.item {
    &__container {
        display: flex;
        padding: $spacing-100 0 $spacing-100 $spacing-100;
        cursor: pointer;
    }

    &__image {
        margin-right: $spacing-100;
        & img {
            border-radius: $border-radius-100;
        }
    }

    &__price {
        margin: $spacing-100 0 $spacing-200 0;
        font-size: $font-size-500;
        line-height: $font-size-500;
    }

    &__title {
        font-size: $font-size-400;
    }

    &__address {
        font-size: $font-size-100;
        color: $gray-300;
    }

    &__divider {
        margin: 0 $spacing-100 0 $spacing-100;
        background-color: $gray-100;
        opacity: inherit;
    }
}